.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f9faff;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}

.wrapper {
  padding: 10% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  justify-self: center;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 320px;
  height: 145px;
  padding-top: 32px;
}

.hero h1 {
  font-size: 20px;
  font-weight: 800;
}

.hero p {
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  color: #848ead;
}

.component_box {
  width: 340px;
  height: 478px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgb(127, 137, 185, 0.15);
  padding: 32px 20px;
  margin-top: 32px;
}

.upper_component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 40px 44px 22px;
  grid-template-areas: "pageviews" "slider" "price" "radio";
  gap: 24px;
  align-items: center;
  justify-items: center;
}

.line {
  content: "";
  display: block;
  width: 340px;
  height: 1px;
  position: relative;
  left: -20px;
  background-color: #ecf0fb;
  margin: 38px 0 24px;
}

.pageviews {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.71px;
  color: #848ead;
  grid-area: pageviews;
}

.price {
  font-size: 14px;
  font-weight: 600;
  color: #848ead;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-area: price;
}

.big {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.8px;
  color: #293356;
}

.slider {
  grid-area: slider;
}

input[type="range"] {
  margin: 50px 0;
  appearance: none;
  width: 280px;
  height: 8px;
  background: #ecf0fb;
  border-radius: 5px;
  background-image: linear-gradient(#a4f3eb, #a4f3eb);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #10d8c4;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: ew-resize;
  box-shadow: 0 15px 30px 0 #00ffe597;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #10d8c4;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: ew-resize;
  box-shadow: 0 15px 30px 0 #00ffe597;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.radio_wrapper {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  align-items: center;
  grid-area: radio;
}

.right {
  justify-self: right;
}

.billing {
  font-size: 12px;
  font-weight: 600;
  color: #848ead;
  display: flex;
  gap: 5px;
}

.discount {
  display: block;
  width: 41px;
  height: 19px;
  background-color: #feede8;
  border-radius: 9.5px;
  font-size: 10px;
  line-height: 19px;
  color: #ff8d68;
}

ul {
  padding-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  height: 12px;
}
li p {
  font-size: 12px;
  font-weight: 600;
  color: #848ead;
}

.start_button {
  width: 170px;
  height: 41px;
  background-color: #293356;
  border: none;
  border-radius: 20.5px;
  font-size: 12px;
  font-weight: 800;
  color: #becdff;
  margin: 32px 0;
  cursor: pointer;
  transition: 0.3s;
}

.start_button:hover {
  color: #fff;
}

@media (min-width: 1200px) {
  .main {
    background-size: contain;
  }

  .hero {
    background-image: url("../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 395px;
    height: 145px;
    padding-top: 40px;
  }

  .subtitle {
    display: flex;
    justify-content: center;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 15px;
  }

  .component_box {
    width: 540px;
    height: 378px;
    padding: 40px 48px;
    margin-top: 54px;
  }

  .line {
    width: 540px;
    left: -48px;
    margin: 30px 0 0;
  }

  .upper_component {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px 40px 22px;
    grid-template-areas: "pageviews price" "slider slider" "radio radio";
    gap: 24px;
    align-items: center;
    justify-items: center;
  }

  .pageviews {
    font-size: 14px;
    letter-spacing: 2px;
    justify-self: left;
  }

  .price {
    justify-self: right;
    font-size: 16px;
    gap: 8px;
  }

  .big {
    font-size: 40px;
    letter-spacing: -1px;
  }

  input[type="range"] {
    width: 444px;
  }

  .discount {
    width: 80px;
  }

  .lower_component {
    padding: 16px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
  ul {
    align-items: flex-start;
    padding-top: 0;
  }

  li {
    display: flex;
    align-items: center;

    gap: 10px;
  }
  .icon {
    height: 12px;
  }
  li p {
    font-size: 12px;
    font-weight: 600;
    color: #848ead;
  }
}
